img {
  width: 200px;
  border-radius: 20px;
}

.selected {
  border: 5px green solid;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  transition: 0.3s;
}
